*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: 1s;
}
svg{
    width: 30px;
    height: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}
@font-face{
    font-family: logoFont;
    src: url(https://github.com/BofaMpama/portfolio-website/blob/main/fonts/JOKERMAN.TTF)
}
body::-webkit-scrollbar{
    border-radius: 30px;
    width: 17px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background: linear-gradient(to bottom right, rgb(35, 35, 143), rgb(4, 4, 71));
}
body::-webkit-scrollbar-track{
    background: whitesmoke;
}
.nav-header{
    display: flex;
    max-width: 100%;
    min-width: 100%;
    max-height: 12.5%;
    padding-bottom: 0.5%;
    background: transparent;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 1;
}
.logo-container{
    font-size: 60px;
    font-weight: bold;
    width: 22%;
    max-width: 22%;
    padding-bottom: 3%;
    letter-spacing: -7px;
    display: row;
    text-transform: uppercase;
    text-shadow: 1px 2px white;
    margin-left: 50px;
    pointer-events: none;
}
.logo-container span:nth-child(1){
    font-family: serif;
    font-size: 80px;
    color: rgb(25, 25, 143);
}
.logo-container span:nth-child(2){
    font-family: logoFont;
    color:  rgb(19, 19, 129);
}
.logo-container span:nth-child(3){
    font-family: serif;
    font-size: 80px;
    color: rgb(16, 16, 116);
}
.logo-container span:nth-child(4){
    font-family: logoFont;
    color: rgb(11, 11, 99);
}
.nav-list{
    margin-left: 5%;
    margin-top: 2.3%;
}
.nav-list ul{
    display: flex;
    list-style: none;
}
.nav-list ul li{
    margin-left: 65px;
    font-family: Tahoma;
    font-size: 22px;
    letter-spacing: 2px;
    background-clip: inherit;
    color: rgb(31, 38, 128);
    text-transform: capitalize;
    text-shadow: 1px 1px white;
}
.contact-btn-container{
    display: flex;
}
.contact-btn{
    margin-left: 100%;
    margin-top: 12.66%;
    font-family: Tahoma;
    font-size: 20px;
    font-weight: bold;
    color: rgb(31, 36, 99);
    background: linear-gradient(to bottom right, rgb(240, 241, 243) 50%, rgb(235, 234, 236) 50%);
    border-radius: 10px;
    height: fit-content;
    max-height: 35%;
    padding: 10px 5px 10px 10px;
    text-transform: capitalize;
    letter-spacing: 3px;
    word-spacing: 2px;
    min-width: 95%;
    width: fit-content;
    display: flex;
}
.contact-btn:nth-child(2){
    display: none;
    max-width: fit-content;
}
.contact-btn svg{
    fill: rgb(23, 31, 145);
    width: 24px;
    height: 24px;
    margin-right: 6px;
    margin-left: 6px;
    display: flex;
}
.contact-btn span{
    display: flex;
    position: absolute;
}
.sec1{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url(images/white-design.jpg);
    background-size: cover;
    height: 87.5vh;
    margin-top: 0vh;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}
.sec1-social-icons{
    margin-top: 15%;
    margin-left: 5%;
    width: fit-content;
}
.ss-icon{
    padding: 13%;
    width: 40px;
    height: 40px;
    margin-top: 60%;   
    background: white;
    background: linear-gradient(to bottom right, rgb(246, 248, 250) 50%, rgb(235, 234, 236) 50%);
    border-radius: 30px;
}
.ss-icon svg{
    fill: rgb(11, 11, 170);
    padding: 10%;
}
.sec1-text-container{
    margin-top: 17%;
    margin-left: 5%;
    width: 45%;
    max-width: 50%;
}
.sec1-text-btn{
    background: linear-gradient(to bottom right, rgb(35, 35, 143), rgb(4, 4, 71));
    width: fit-content;
    max-width: 40%;
    padding: 10px;
    margin-left: 1%;
    pointer-events: none;
    font-family: Tahoma;
    font-size: 17px;
    letter-spacing: 4px;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
}
.sec1-intro-text{
    font-family: Calibri;
    font-size: 100px;
    font-weight: bold;
    padding: 1%;
    padding-bottom: 0.5%;
    text-transform: capitalize;
    background-clip: inherit;
    background: linear-gradient(to bottom right, rgb(18, 18, 214), rgb(2, 8, 61), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sec1-text{
    font-family: Calibri;
    font-size: 22px;
    font-weight: bold;
    background-clip: inherit;
    background: linear-gradient(to bottom right, rgb(9, 9, 99), rgb(2, 8, 61), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 80%;
    margin-left: 1.5%;
    text-transform: capitalize;
    line-height: 33px;
}
.sec1-text span{
    background-clip: inherit;
    background: linear-gradient(to top left, rgb(2, 2, 41), rgb(14, 31, 190), rgb(22, 109, 223));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.sec1-right-half{
    display: block;
}
.sec1-photo{
    background: radial-gradient( rgba(45, 45, 70, 0.877), rgba(2, 8, 61, 0.5), rgb(14, 28, 102));
   backdrop-filter: blur(20px);
    width: 450px;
    max-height: 360px;
    margin-top: 30%;
    overflow-x: clip;
    overflow-y: hidden;
    border-top-left-radius: 60%;
    border-top-right-radius: 92%;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 62%;
}
.sec1-photo img{
    width: 80%;
    max-height: 30%;
    padding: 6%;
    margin-top: -30%;
    margin-left: 5%;
    background: linear-gradient(to bottom right rgba(25, 107, 173, 0.952) 80%, black);
    background-blend-mode: color;
    border-top-left-radius: 190%;
    border-top-right-radius: 62%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 62%;
    transform: scaleX(1);
}
.see-more-btn{
    display: flex;
    font-family: Tahoma;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 67%;
    background-clip: inherit;
    background: linear-gradient(to bottom right, rgb(18, 18, 214), rgb(2, 8, 61), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    min-height: 5%;
}
.see-more-btn svg{
    width: 20px;
    height: 20px;
    padding-top: 19px;
    padding-left: 5px;
    fill: rgb(8, 8, 87);
}
.see-more-btn span{
    display: flex;
    animation-name: up-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-direction: alternate;
}
@keyframes up-down{
    0%{
        margin-top: 0px;
    }
    10%{
        margin-top: 2px;
    }
    20%{
        margin-top: 4px;
    }
    30%{
        margin-top: 6px;
    }
    40%{
        margin-top: 4px;
    }
    50%{
        margin-top: 0%;
    }
    60%{
        margin-top: -3px;
    }
    70%{
        margin-top: -5px;
    }
    80%{
        margin-top: -4px;
    }
    90%{
        margin-top: -2px;
    }
    100%{
        margin-top: 0%;
    }
}
.sec2{
    height: 65vh;
    display: flex;
    padding: 5%;
}
.sec2-photo-container{
    width: 50%;
}
.sec2-photo-container img{
    width: 65%;
    margin-left: 40%;
    margin-top: 4%;
    height: 90%;
    box-shadow: 8px 8px rgb(244, 244, 248);
    border-radius: 30px;
    transform: scaleX(-1);
}
.about-container{
    width: 50%;
    padding: 1.5% 5%;
    font-family: Calibri;
}
.about-header{
    padding-top: 5%;
    font-size: 60px;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.about-container p{
    width: 75%;
    font-size: 20px;
    padding-top: 20px;
    line-height: 33px;
    letter-spacing: 2px;
}
.about-container > .paragragh-2{
    display: none;
}
.about-btn{
    padding-top: 15px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 4px;
    text-decoration: underline;
    text-transform: capitalize;
}
.sec3{
    height: fit-content;
    background: linear-gradient(to bottom right, rgb(2, 4, 27), rgb(4, 4, 99));
    padding: 3% 5% 8% 5%;
}
.sec3-service-header{
    background: linear-gradient(to bottom right, rgba(2, 4, 27, 0.7), rgba(4, 4, 99, 0.7));
    color: rgb(255, 255, 255);
    width: 45%;
    padding: 1%;
    margin-left: 27.5%;
    margin-top: 3%;
    text-align: center;
    font-family: Calibri;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-transform: capitalize;
    border-radius: 10px;
}
.service-container{
    display: flex;
    width: 90%;
    margin-top: 6%;
    margin-left: 5%;
}
.service-box{
    width: 30%;
    color: white;
    margin-left: 2%;
    background: rgba(255, 255, 255, 0.1);
    padding: 2%;
    line-height: 30px;
    border-radius: 15px;
    text-align: center;
}
.service-box img{
    display: inline-block;
    width: 20%;
    height: 20%;
    padding: 5px;
    margin-left: 0%;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 10%;
    fill: white;
}
.service-box span{
    font-family: Calibri;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 3px;
    color: white;
}
.service-box p{
    font-family: Calibri;
    font-size: 21px;
    color: white;
    word-spacing: 2px;
    padding-top: 5px;
}
.sec4{
    display: block;
    height: 52vh;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(images/white-stripes.png);
    background-size: cover;
}
.footer-container{
    display: flex;
}
.footer-links{
    width: 20%;
    min-width: 20%;
    margin-top: 4%;
    margin-left: 10%;
}
.footer-links ul{
    text-decoration: none;
    list-style: none;
    font-family: Calibri;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 20%;
    color: rgb(31, 31, 168);
}
.footer-links ul span{
    font-weight: bold;
    border-bottom: 3px solid rgb(17, 17, 175);
}
.contact-container{
    width: fit-content;
    min-width: 30%;
    margin-top: 03%;
    margin-left: 4%;
    color: rgb(31, 31, 168);
}
.contact-header{
    font-family: Calibri;
    font-weight: bold;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 30px;
    width: 72%;
    margin-left: 2%;
    margin-top: 5%;
}
.contact-group{
    margin-left: 2%;
    margin-top: 2%;
    line-height: 40px;
    text-transform: lowercase;
}
.contact-info{
    font-family: Calibri;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    word-spacing: 0px;
}
.sl-group{
    margin-top: 5%;
    margin-left: 0%;
    width: 30%;
    height: 10%;
}
.sl-text{
    border-bottom: 4px solid rgb(30, 30, 151);
    border-radius: 3px;
    width: fit-content;
    max-width: 75%;
    color: rgb(31, 31, 168);
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-family: Calibri;
    font-size: 32.5px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.sl-icon-container{
    display: flex;
}
.sl-icon{
    background: linear-gradient(to bottom right, rgb(246, 248, 250) 50%, rgb(235, 234, 236) 50%);
    border-radius: 30px;
    padding: 10px;
    margin-left: 25px;
    margin-top: 5px;
    height: 28px;
}
.sl-icon svg{
    height: 28px;
    width: 28px;
    fill: rgb(17, 17, 175);
}
.footer-bottom{
    margin-top: 2%;
    height: 16%;
    width: 100%;
}
.up-btn{
    background: linear-gradient(to bottom right, rgb(246, 248, 250) 50%, rgb(235, 234, 236) 50%);
    border-radius: 30px;
    padding: 10px;
    margin-left: 91%;
    margin-top: 5px;
    height: fit-content;
    width: fit-content;
    max-width: 2%;
    display: flex;
}
.up-btn svg{
    fill: rgb(17, 17, 175);
}
.copyright-text{
    font-family: Calibri;
    font-size: 22px;
    font-weight: bold;
    background-clip: inherit;
    background: linear-gradient(to bottom right, rgb(18, 18, 214), rgb(2, 8, 61), black);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: fit-content;
    margin-left: 14%;
    padding-top: -19%;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 1px;
}
@media(max-width: 1300px){
    *{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .nav-header{
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 0%;
    }
    .logo-container{
        font-size: 35px;
        padding-top: 2%;
        margin-left: 6%;
        padding-right: 1%;
        min-width: 60%;
        height: 80%;
        min-height: fit-content;
        overflow-y: hidden;
        letter-spacing: -3px;
    }
    .logo-container span:nth-child(1){
        font-size: 45px;
    }
    .logo-container span:nth-child(3){
        font-size: 45px;
    }
    .nav-list{
        display: initial;
        min-width: fit-content;
        margin-left: -37%;
        margin-top: 3%;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn{
        margin-left:15%;
        margin-top: 2.5%;
        font-size: 16px;
        font-weight: bold;
        word-spacing: 0px;
        min-width: fit-content;
        border-radius: 10px;
        position: absolute;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn:nth-child(1){
        display: initial;
        width: 0;
    }
    .contact-btn:nth-child(2){
        display: none;
    }
    .contact-btn svg{
        width: 28px;
        height: 28px;
        display: flex;
    }
    .sec1{
        max-height: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .sec1-social-icons{
        margin-left: 3%;
        min-width: 5.5%;
        max-height: fit-content;
        overflow: hidden;
    }
    .ss-icon{
        max-height: 40px;
        overflow-y: hidden;
    }
    .sec1-text-container{
        max-width: 45%;
        margin-left: 6%;
        margin-top: 25%;
        overflow-y: hidden;
    }
    .sec1-right-half{
        overflow-y: hidden;
    }
    .sec1-intro-text{
        padding: 0;
        line-height: 100px;
        overflow-y: hidden;
    }
    .sec1-photo{
        width: 390px;
        margin-top: 60%;
    }
    .sec2-photo-container img{
        margin-left: 35%;
    }
    .sl-group{
        width: 90%;
        margin-left: 3%;
    }
    .sl-icon{
        padding: 5px;
        width: fit-content;
        overflow: hidden;
    }
    .sl-icon svg{
        width: 28px;
        height: 28px;
    }
}
@media(max-width: 1150px){
    *{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body{
        max-width: 100%;
        overflow-x: hidden;
    }
    .nav-header{
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 0%;
    }
    .logo-container{
        font-size: 35px;
        padding-top: 2%;
        margin-left: 6%;
        padding-right: 1%;
        min-width: 60%;
        height: 80%;
        min-height: fit-content;
        overflow-y: hidden;
    }
    .logo-container span:nth-child(1){
        font-size: 45px;
    }
    .logo-container span:nth-child(3){
        font-size: 45px;
    }
    .nav-list{
        display: initial;
        min-width: fit-content;
        margin-left: -37%;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn{
        margin-left:10%;
        margin-top: 2%;
        font-size: 16px;
        font-weight: bold;
        word-spacing: 0px;
        min-width: fit-content;
        border-radius: 10px;
        position: absolute;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn:nth-child(1){
        display: initial;
        width: 0;
    }
    .contact-btn:nth-child(2){
        display: none;
    }
    .contact-btn svg{
        width: 28px;
        height: 28px;
        display: flex;
    }
    .sec1{
        max-height: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .sec1-social-icons{
        margin-left: 3%;
        min-width: 5.5%;
        max-height: fit-content;
        margin-top: 20%;
        overflow: hidden;
    }
    .ss-icon{
        max-height: 40px;
        overflow-y: hidden;
    }
    .sec1-text-container{
        max-width: 45%;
        margin-left: 6%;
        overflow-y: hidden;
    }
    .sec1-text-btn{
        max-width: fit-content;
    }
    .sec1-right-half{
        overflow-y: hidden;
    }
    .sec1-intro-text{
        padding: 0;
        line-height: 100px;
        overflow-y: hidden;
        margin-top: 2%;
    }
    .sec1-photo{
        width: 390px;
        margin-top: 40%;
        margin-left: 0%;
    }
    .see-more-btn{
        margin-top: 0%;
    }
    .sec2-photo-container img{
        width: 75%;
        margin-left: 20%;
    }
    .about-container{
        padding: 0 1%;
    }
    .about-header{
        padding-top: 0%;
    }
    .about-container p{
        padding-top: 0px;
    }
    .about-container > .paragragh-2{
        display: none;
    }
    .about-btn{
        padding-top: 7px;
    }
    .sec3-service-header{
        width: 70%;
        margin-left: 15%;
    }
    .service-container{
        margin-left: 5%;
        display: inline-block;
    }
    .service-box{
        min-width: 90%;
        margin-left: 3%;
        margin-top: 2%;
        padding: 3%;
    }
    .sec4{
        height: fit-content;
        max-height: fit-content;
    }
    .contact-container{
        margin-left: 0%;
        max-width: 40%;
    }
    .sl-icon{
        padding: 10px;
        width: fit-content;
        overflow: hidden;
    }
    .sl-icon svg{
        width: 28px;
        height: 28px;
    }
    .up-btn{
        margin-left: 86%;
        min-width: fit-content;
    }
}
@media(max-width: 970px){
    .see-more-btn{
        display: none;
    }
}
@media(max-width: 900px){
    *{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    body{
        max-width: 101%;
        overflow-x: hidden;
    }
    body::-webkit-scrollbar{
        width: 0px;
    }
    body::-webkit-scrollbar-thumb{
        background: initial;
        width: initial;
    }
    body::-webkit-scrollbar-track{
        width: 1px;
    }
    .nav-header{
        min-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-bottom: 0%;
        position: fixed;
    }
    .logo-container{
        font-size: 35px;
        letter-spacing: -4px;
        padding-top: 2%;
        margin-left: 6%;
        padding-right: 1%;
        min-width: 60%;
        height: 80%;
        min-height: fit-content;
        overflow-y: hidden;
    }
    .logo-container span:nth-child(1){
        font-size: 45px;
    }
    .logo-container span:nth-child(3){
        font-size: 45px;
    }
    .nav-list{
        display: none;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn{
        margin-right:60%;
        margin-top: 2%;
        font-size: 16px;
        font-weight: bold;
        word-spacing: 0px;
        width: fit-content;
        max-height: fit-content;
        border-radius: 10px;
        padding: 10px 10px 10px 10px;
        position: absolute;
    }
    .contact-btn-container{
        display: flex;
    }
    .contact-btn:nth-child(1){
        display: none;
        width: 0;
    }
    .contact-btn:nth-child(2){
        margin-left: 7%;
        min-width: 5%;
        font-size: 24px;
        display: flex;
    }
    .contact-btn svg{
        width: 28px;
        height: 28px;
        display: flex;
    }
    .sec1{
        max-width: 100%;
        height: fit-content;
        display: block;
        padding: 0;
        padding-bottom: 0px;
        min-height: 50vh;
    }
    .sec1-photo{
        display: none;
    }
    .sec1-social-icons{
        display: none;
    }
    .sec1-text-container{
        width: 100%;
        min-width: 100%;
        padding-top: 20%;
    }
    .sec1-text-btn{
        min-width: 31%;
        max-width: 80%;
    }
    .sec1-intro-text{
        line-height: 100px;
        padding-right: 5%;
    }
    .sec1-intro-text span{
        font-size: 120px;
    }
    .sec1-text{
        padding-bottom: 20px;
    }
    .sec1-right-half{
        width: 100%;
        height: 10%;
        overflow: hidden;
    }
    .see-more-btn{
        width: 100%;
        margin-bottom: 5%;
    }
    .see-more-btn span{
        animation: none;
    }
    .sec2{
        height: fit-content;
        min-height: 85vh;
        max-width: 100%;
        display: block;
        padding: 0%;
        margin: 0%;
    }
    .sec2-photo-container{
        min-width: 100%;
        height: 10%;
        margin: 0%;
        padding: 0%;
        display: block;
    }
    .sec2-photo-container img{
        max-height: 50%;
        min-width: 60%;
        margin-top: 5%;
        margin-left: 12.5%;
        padding-left: initial;
        box-shadow: none;
        border-radius: 50px;
    }
    .about-container{
        width: 80%;
        display: block;
        margin-left: 15%;
    }
    .about-header{
        font-size: 45px;
        padding-left: 10px;
    }
    .about-container p{
        padding-top: 10px;
        padding-left: 10px;
    }
    .about-container > .paragragh-2{
        display: none;
    }
    .about-btn{
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .sec3-service-header{
        width: 90%;
        font-size: 47px;
        margin-left: 5%;
    }
    .service-container{
        display: inline-block;
    }
    .service-box{
        width: 90%;
        margin-top: 10%;
        padding: 3%;
        color: white;
    }
    .sec4{
        height: fit-content;
        min-height: fit-content;
        max-height: fit-content;
    }
    .footer-container{
        display: block;
    }
    .footer-links{
        width: 88%;
        margin-left: -10%;
        margin-top: 4%;
    }
    .footer-links ul{
        display: block;
        width: 100%;
    }
    .footer-links span{
        display: block;
        width: fit-content;
    }
    .footer-links li{
        display: block;
    }
    .footer-links li:nth-child(2), .footer-links li:nth-child(4){
        margin-right: 20px;
    }
    .contact-container{
        margin-top: 0%;
        margin-left: 6%;
        min-width: 95%;
    }
    .contact-info:nth-child(1){
        width: 80%;
    }
    .sl-group{
        width: 90%;
        margin-left: 4%;
        margin-top: 0%;
    }
    .sl-text{
        letter-spacing: 1px;
    }
    .sl-icon{
        padding: 10px;
        width: fit-content;
        overflow: hidden;
    }
    .sl-icon svg{
        width: 28px;
        height: 28px;
    }
    .up-btn{
        margin-left: 80%;
        margin-top: -13.5%;
        padding: 12px;
        height: fit-content;
        min-width: fit-content;
    }
    .copyright-text{
        text-align: left;
        margin-left: 10%;
        padding-bottom: 2%;
        padding-top: 9%;
        width: 90%;
    }
}
@media(max-width: 750px){
    .about-container{
        width: 80%;
        margin-left: 10%;
    }
    .about-container p{
        width: 90%;
        margin-left: 0%;
    }
}
@media(max-width: 550px){
    .see-more-btn{
        display: none;
    }
}
@media(max-width: 400px){
    .up-btn{
        margin-top: 20px;
        margin-left: 10%;
    }
}
@media(max-width: 360px){
    .sl-group{
        width: 100%;
    }
}
@media(max-width: 300px){
    .sl-group{
        margin-left: 1%;
    }
    .sl-text{
        font-size: 30px;
    }
}
@media(max-height: 360px){
    .nav-header{
        min-height: 18%;
    }
}
@media(min-height: 1100px){
    .sec1{
        height: fit-content;
    }
    .sec2{
        height: fit-content;
    }
    .sec2-photo-container img{
        max-height: 60%;
    }
    .sec3{
        height: fit-content;
    }
    .service-container{
        flex-direction: column;
    }
    .service-box{
        width: 90%;
        margin-top: 3%;
    }
    .sec4{
        max-height: fit-content;
    }
    .copyright-text{
        margin-top: 5%;
    }
}
.reveal{
    position: inherit;
    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease-in;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}
